
<% tag ||= nil %>
<% bookmark ||= nil %>
<% action ||= params[:action] %>

<% if tag %>
  <div class="btn-group btn-group-justified" role="group" aria-label="bmark-btns">
    <% if action == 'index' %>
      <% js = %{$('.bookmark').each(function() { window.open($(this).attr('href'), '_blank') })} %>

      <% title = 'Bring up all listed sites in separate tabs' %>

      <%= link_up_btn :js, '#', onclick: js + ' ; return false ',
                            text: 'Open all sites', title: title %>

      <%= link_up_btn :new, [:new, tag, :bookmark], remote %>
    <% else %>
      <%= link_up_btn :back, [tag, :bookmarks], remote %>
    <% end %>

    <% if bookmark %>
      <% if action != 'show' %>
        <%= link_up_btn :show, [tag, bookmark], remote %>
      <% end %>

      <% if action != 'edit' %>
        <%= link_up_btn :edit, [:edit, tag, bookmark], remote %>
      <% end %>
    <% end %>

  </div>
<% end %>

