
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="head-<%= dom_id tag %>">
      <h6 class="panel-title">
        <%= render 'tags/actions', tag: tag %>

        <% if tag.children? %>
          <a role="button" data-toggle="collapse"
                           data-parent="#menu-<%= level %>"
                           href="#panel-<%= dom_id tag %>"
                           aria-controls="<%= dom_id tag %>"
                           title="<%= pluralize tag.tags_count, 'child' %>">
            <%= tag %>
            <span class="caret"></span>
          </a>
        <% else %>
          <%= tag %>
        <% end %>

        <span class="pull-right">
          <% title = "Display list of #{site_count(tag)}" %>
          <% klass = "btn btn-xs btn-#{@tag == tag ? 'link' : 'default'}" %>

          <%= link_to [tag, :bookmarks], title: title, class: klass do %>
            <span class="badge"><%= tag.bookmarks_count or '0' %></span>
          <% end %>
        </span>
      </h6>
    </div>

    <% if tag.children? %>
      <% receiver = @bookmark || @tag %>

      <div id="panel-<%= dom_id tag %>"
           class="panel-collapse collapse <%= in_path? tag, receiver %>"
           role="tabpanel" aria-labelledby="head-<%= dom_id tag %>">

        <div class="panel-body">
          <%= render 'tag_tree/menu_panel', tags: tag.tags, level: level %>
        </div>
      </div>
    <% end %>
  </div>

