
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="head-<%= dom_id tag %>">
      <h6 class="panel-title">
        <a role="button" data-toggle="collapse"
                         data-parent="#menu-<%= level %>"
                         href="#panel-<%= dom_id tag %>"
                         aria-controls="<%= dom_id tag %>"
                         title="<%= tag.heading %>">

          <%= indent level %>
          <%= tag %>
          <span class="badge"><%= tag.tags_count or '0' %></span>
        </a>
      </h6>
    </div>

    <% receiver = @bookmark || @tag %>

    <div id="panel-<%= dom_id tag %>"
         class="panel-collapse collapse <%= in_path? tag, receiver %>"
         role="tabpanel" aria-labelledby="head-<%= dom_id tag %>">

      <div class="panel-body">
        <%= indent level %>
        <%= render 'tags/actions', tag: tag %>

        <%= link_to site_count(tag), [tag, :bookmarks], remote: true %>

        <%= render 'tag_tree/menu_panel', tags: tag.tags, level: level %>
      </div>
    </div>
  </div>

