
<span class="dropdown">
  <button class="btn btn-link btn-xs dropdown-toggle" type="button"
          id="dropdown-<%= dom_id tag %>" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true"
          title="Actions for tag <%= tag.info %>">
    <%= icon 'list' %>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdown-<%= dom_id tag %>">
    <li class="dropdown-header"><%= icon 'tag' %> <%= tag.heading %></li>
    <li>
      <%= link_to "New tag under #{tag}", [:new, :tag, tag_id: tag] %>
    </li>
    <li>
      <%= link_to "Edit tag #{tag}", [:edit, tag] %>
    </li>
    <li>
      <%= link_to "Delete tag #{tag}", tag, method: :delete,
                                       data: { confirm: 'Are you sure?' } %>
    </li>
    <li>
      <%= link_to "Show tag #{tag}", tag %>
    </li>
    <% if tag.children? %>
      <li>
        <%= link_to "List tags under #{tag}", [:tags, tag_id: tag] %>
      </li>
    <% end %>

    <li role="separator" class="divider"></li>

    <li>
      <%= link_to "New bookmark under #{tag}", [:new, tag, :bookmark] %>
    </li>
    <li>
      <%= link_to "Show #{site_count(tag)}", [tag, :bookmarks] %>
    </li>
  </ul>
</span>


