
<span class="dropdown">
  <button class="btn btn-link btn-xs dropdown-toggle" type="button"
          id="dropdown-<%= dom_id tag %>" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true"
          title="Actions for <%= tag.info %>">
    <%= icon 'list' %>
    &nbsp;
    <%= tag.heading %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown-<%= dom_id tag %>">
    <li>
      <%= link_to site_count(tag), [tag, :bookmarks] %>
    </li>
    <li>
      <%= link_to "Edit tag #{tag}", [:edit, tag] %>
    </li>
    <li>
      <%= link_to "Delete tag #{tag}", tag, method: :delete,
                                       data: { confirm: 'Are you sure?' } %>
    </li>
    <li>
      <%= link_to "New tag under #{tag}", [:new, :tag, tag_id: tag] %>
    </li>
    <li>
      <%= link_to "Show tag #{tag}", tag %>
    </li>
    <li>
      <%= link_to "New bookmark under #{tag}", [:new, tag, :bookmark] %>
    </li>
  </ul>
</span>


