
<div class='table-responsive'>
<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Parent</th>
      <th>Children</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% tags.each do |tag| %>
      <tr>
        <td>
          <%= tag.name %>
        </td>
        <td>
          <small>
            <%= tag.title&.truncate(50) %>
          </small>
        </td>
        <td>
          <%= tag.branch * '/' %>
        </td>
        <td>
          <%= tag.tags_count %>
        </td>
        <td>
          <%= link_up :list, [tag, :bookmarks],
                             text: site_count(tag, 'bookmark') %>
        </td>
        <td>
          <%= link_up_icon :show, tag %>
        </td>
        <td>
          <%= link_up_icon :edit, [:edit, tag] %>
        </td>
        <td>
          <%= link_up_icon :new, [:new, :tag, tag_id: tag] %>
        </td>
        <td>
          <%= link_up_icon :delete, tag %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

