
<div class="btn-group btn-group-vertical" role="group" aria-label="app-btns">
  <%= link_up :new, %i(new tag) %>

  <%= link_up :items, :tags %>

  <%= link_up :items, :bookmarks %>

  <%= link_up :import, :import_bookmarks %>

  <%= link_up :export, :export_bookmarks %>

  <%= link_up :help %>
</div>

