  
<% if user_signed_in? %>
  <li class="<%= active %i(new tag) %>">
    <%= link_to 'New tag', %i(new tag), title: title(:new_tag_top) %>
  </li>
  <li class="<%= active :tags %>">
    <%= link_to 'Tags', :tags, title: title(:list_tags) %>
  </li>
  <li class="<%= active controller: :bookmarks %>">
    <%= link_to 'Bookmarks', :bookmarks, title: title(:list_bookmarks) %>
  </li>
  <li class="<%= active :import_bookmarks %>">
    <%= link_to 'Import', :import_bookmarks, title: title(:upload_bookmarks) %>
  </li>
  <li class="<%= active :export_bookmarks %>">
    <%= link_to 'Export', :export_bookmarks, title: title(:download_bookmarks) %>
  </li>
<% else %>
  <li>
    <%= link_to 'Sign in', new_user_session_path, title: title(:sign_in) %>
  </li>
  <li>
    <%= link_to 'Sign up', new_user_registration_path, title: title(:sign_up) %>
  </li>
<% end %>
