<!DOCTYPE html>
<html>
  <head>
    <title>Site Visitor - Bookmarks Favourite Sites</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bookmark favorite">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <%= render 'layouts/main' %>
  </body>
</html>
